<!DOCTYPE html>
<html lang="nl" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Wortel vereenvoudiger</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  </head>
  <body>
    <form action="/" method="post">
      √<input type="number" name="getal" placeholder="wortel om te vereenvoudigen">
      <input type="submit">
    </form>
    Verkorte wortel van {{ getal }}:
    {% if error %}
      {{ error }}
    {% endif %}
    {% if getal1 %}
      {{ getal1 }}√{{ getal2 }}
    {% endif %}
  </body>
</html>
